<div class='mainBoard'>
    <h2 class='title'>ディテール作成</h2>
    <div class="detailText">
        <ul>
            <li>
                <label>何ができる？：</label><input placeholder="できるようになることを入力してください">
            </li>
            <li>
                <label>Git Repository：</label><input placeholder="対象のリポジトリを入力してください">
            </li>
            <li>
                <label>Git Branch：</label><input placeholder="対象のブランチを入力してください">
            </li>
            <li>
                <input class="addButton" type="button" value="保存"/>
            </li>
        </ul>
    </div>
</div>