<div class='mainBoard'>
    <h2 class='title'>ディテール作成</h2>
    <div class="detailText">
        <ul>
            <li>
                <label>何ができる？：</label><input class="form-control" [(ngModel)]="detail.title" placeholder="できるようになることを入力してください">
            </li>
            <li>
                <label>Git Repository：</label><input class="form-control" [(ngModel)]="detail.repository" placeholder="対象のリポジトリを入力してください">
            </li>
            <li>
                <label>Git Branch：</label><input  class="form-control" [(ngModel)]="detail.branch" placeholder="対象のブランチを入力してください">
            </li>
            <li>
                <a routerLink='/ideaCreate' class="btn btn-warning btn-lg" (click)="onClick(detail)">保存</a>
                <!-- <a routerLink='/ideaCreate' class="btn btn-warning btn-lg" (click)="onClick()">保存</a> -->
            </li>
        </ul>
    </div>
</div>